{{> header}}

<div class="app-content">

  <!--====== Section 1 ======-->
  <div class="u-s-p-y-6">

    <!--====== Section Content ======-->
    <div class="section__content">
      <div class="container">
        <div class="breadcrumb">
          <div class="breadcrumb__wrap">
            <ul class="breadcrumb__list">
              <li class="has-separator">

                <a href="/">Home</a></li>
              <li class="is-marked">

                <a href="/cart">Cart</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--====== End - Section 1 ======-->

  <!--====== Section 2 ======-->
  <div class="u-s-p-b-60">

    <!--====== Section Intro ======-->
    <div class="section__intro u-s-m-b-6">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section__text-wrap">
              <h1 class="section__heading u-c-secondary">SHOPPING CART</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Section Intro ======-->

    <!--====== Section Content ======-->
    <div class="section__content">
      <div class="container">
          {{#if cart.items.length}}
          {{#each cart.items}}
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
            <div class="table-responsive">
              <table class="table-p">
                <tbody>
                  <!--====== Row ======-->
                  <tr>
                    <td>
                      <div class="table-p__box">
                        <div class="table-p__img-wrap">

                          <img
                            class="u-img-fluid"
                            src="{{this.product.image}}"
                            alt=""
                          /></div>
                        <div class="table-p__info">

                          <span class="table-p__name">

                            <a href="product-detail.html">{{this.product.name}}</a></span>

                          <span class="table-p__category">

                            <a href="shop-side-version-2.html">{{this.product.category}}</a></span>
                          <ul class="table-p__variant-list">
                            <li>

                              <span>Size: 22</span></li>
                            <li>

                              <span>Color: Red</span></li>
                          </ul>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span class="table-p__price">₹{{this.product.price}}</span></td>
                    <td>
                      <div class="table-p__input-counter-wrap">

                        <!--====== Input Counter ======-->
                        <div class="input-counter">

                          <span
                            class="input-counter__minus fas fa-minus"
                          ></span>

                          <input
                            class="input-counter__text input-counter--text-primary-style"
                            type="text"
                            value="1"
                            data-min="1"
                            data-max="1000"
                          />

                          <span
                            class="input-counter__plus fas fa-plus"
                          ></span></div>
                        <!--====== End - Input Counter ======-->
                      </div>
                    </td>
                    <td>
                      <div class="table-p__del-wrap">

                        <a
                          class="far fa-trash-alt table-p__delete-link"
                          href="#"
                        ></a></div>
                    </td>
                  </tr>
                  <!--====== End - Row ======-->
                </tbody>
              </table>
            </div>
          </div>
            {{/each}}
          <div class="col-lg-12">
            <div class="route-box">
              <div class="route-box__g1">

                <a class="route-box__link" href="/products"><i
                    class="fas fa-long-arrow-alt-left"
                  ></i>

                  <span>CONTINUE SHOPPING</span></a></div>
              <div class="route-box__g2">

                <a class="route-box__link" href="cart.html"><i
                    class="fas fa-trash"
                  ></i>
                  <span>CLEAR CART</span></a>
                  </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
    <!--====== End - Section Content ======-->
  </div>
  <!--====== End - Section 2 ======-->

  <!--====== Section 3 ======-->
  <div class="u-s-p-b-60">

    <!--====== Section Content ======-->
    <div class="section__content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 u-s-m-b-30">
            <form class="f-cart" method="post" , action="/postCart">
              <div class="row">
                <div class="col-lg-4 col-md-6 u-s-m-b-30">
                  <div class="f-cart__pad-box">
                    <div class="u-s-m-b-30">
                      <table class="f-cart__table">
                        <tbody>
                          <tr>
                            <td>SHIPPING</td>
                            <td>$4.00</td>
                          </tr>
                          <tr>
                            <td>TAX</td>
                            <td>$0.00</td>
                          </tr>
                          <tr>
                            <td>SUBTOTAL</td>
                            <td>$379.00</td>
                          </tr>
                          <tr>
                            <td>GRAND TOTAL</td>
                            <td>$379.00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div>

                      <button class="btn btn--e-brand-b-2" type="submit">
                        PROCEED TO CHECKOUT</button></div>
                  </div>
                </div>
              </div>
               {{else}}
          <h1>cart is empty</h1>
          {{/if}}
            </form>
          </div>
        </div>
      </div>
    </div>
    <!--====== End - Section Content ======-->
  </div>
  <!--====== End - Section 3 ======-->
</div>

{{> footer}}