{{> header}}

<div class="app-content">

        <!--====== Primary Slider ======-->

        <!--====== End - Primary Slider ======-->

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-10">

          <!--====== Section Intro ======-->
          <div class="section__intro u-s-m-b-46">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section__text-wrap">
                    <h1 class="section__heading u-c-secondary u-s-m-b-12">SHOP
                      BY DEALS</h1>

                    <span class="section__span u-c-silver">BROWSE FAVOURITE
                      DEALS</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Intro ======-->

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-5 u-s-m-b-30">

                  <a class="collection" href="/products">
                    <div class="aspect aspect--bg-grey aspect--square">

                      <img
                        class="aspect__img collection__img"
                        src="https://img.freepik.com/free-photo/sports-shoe-pair-design-illustration-generated-by-ai_188544-19642.jpg?w=826&t=st=1702661659~exp=1702662259~hmac=f784e3266bd570c6695a6863a7200b5b977107559ebb0255d50042d1aff8b2c5"
                        alt=""
                      /></div>
                  </a></div>
                <div class="col-lg-7 col-md-7 u-s-m-b-30">

                  <a class="collection" href="/products">
                    <div class="aspect aspect--bg-grey aspect--1286-890">

                      <img
                        class="aspect__img collection__img"
                        src="https://img.freepik.com/free-photo/portrait-stylish-attractive-young-bearded-man-listening-music-wireless-headphones-modern-style-confident-mood_285396-9537.jpg?w=740&t=st=1702663549~exp=1702664149~hmac=c7974f537703595f661595ab8135e996de9b3d6cd796b77fcf93ffd8122cfbe3"
                        alt=""
                      /></div>
                  </a></div>
                <div class="col-lg-7 col-md-7 u-s-m-b-30">

                  <a class="collection" href="/products">
                    <div class="aspect aspect--bg-grey aspect--1286-890">

                      <img
                        class="aspect__img collection__img"
                        src="https://img.freepik.com/free-photo/young-adult-wearing-futuristic-smart-glasses-indoors-generated-by-ai_188544-32756.jpg?t=st=1702703671~exp=1702707271~hmac=3e9515c556f5dea89c27cfc68f632a9dda02651de36d1f5c965a1d4281b67b05&w=826"
                        alt=""
                      /></div>
                  </a></div>
                <div class="col-lg-5 col-md-5 u-s-m-b-30">

                  <a class="collection" href="/products">
                    <div class="aspect aspect--bg-grey aspect--square">

                      <img
                        class="aspect__img collection__img"
                        src="https://img.freepik.com/free-photo/black-wireless-earbud-with-charging-case_1268-14371.jpg?t=st=1702703664~exp=1702704264~hmac=c60c1c86753e9b0e5d823459ed77e64abd35ad38e5d038841c70b8f8f6349670"
                        alt=""
                      /></div>
                  </a></div>
              </div>
            </div>
          </div>

          <!--====== Section Content ======-->
        </div>
        <!--====== End - Section 1 ======-->

        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

          <!--====== Section Intro ======-->
          <div class="section__intro u-s-m-b-16">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section__text-wrap">
                    <h1 class="section__heading u-c-secondary u-s-m-b-12">TOP
                      TRENDING</h1>

                    {{!-- <span class="section__span u-c-silver">CHOOSE CATEGORY</span> --}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Intro ======-->

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="filter-category-container">
                    <div class="filter__category-wrapper">

                      <button
                        class="btn filter__btn filter__btn--style-1 js-checked"
                        type="button"
                        data-filter="*"
                      ></button></div>
                    {{!-- <div class="filter__category-wrapper">

                      <button
                        class="btn filter__btn filter__btn--style-1"
                        type="button"
                        data-filter=".headphone"
                      >HEADPHONES</button></div>
                    <div class="filter__category-wrapper">

                      <button
                        class="btn filter__btn filter__btn--style-1"
                        type="button"
                        data-filter=".smartphone"
                      >SMARTPHONES</button></div>
                    <div class="filter__category-wrapper">

                      <button
                        class="btn filter__btn filter__btn--style-1"
                        type="button"
                        data-filter=".sportgadget"
                      >EARPHONES</button></div>
                    <div class="filter__category-wrapper">

                      <button
                        class="btn filter__btn filter__btn--style-1"
                        type="button"
                        data-filter=".dslr"
                      >DSLR</button></div> --}}
                  </div>
                  <div class="filter__grid-wrapper u-s-m-t-30">
                    <div class="row">
                      {{#each products}}
                      <div
                        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item headphone"
                      >
                        <div
                          class="product-o product-o--hover-on product-o--radius"
                        >
                          <div class="product-o__wrap">

                            <a
                              class="aspect aspect--bg-grey aspect--square u-d-block"
                              href="/products"
                            >

                              <img
                                class="aspect__img"
                                src="{{this.image}}"
                                alt=""
                              /></a>
                            
                          </div>

                          <span class="product-o__category">

                            <a
                              href="/products"
                            >{{this.category}}</a></span>

                          <span class="product-o__name">

                            <a href="/product/{{this._id}}">{{this.name}}</a></span>
                          <div class="product-o__rating gl-rating-style"><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star-half-alt"
                            ></i>

                            <span class="product-o__review">(23)</span></div>

                          <span class="product-o__price">₹{{this.price}}

                            <span
                              class="product-o__discount"
                            ></span></span>
                        </div>
                      </div>
                      {{/each}}
                      {{!-- <div
                        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item headphone"
                      >
                        <div
                          class="product-o product-o--hover-on product-o--radius"
                        >
                          <div class="product-o__wrap">

                            <a
                              class="aspect aspect--bg-grey aspect--square u-d-block"
                              href="/products"
                            >

                              <img
                                class="aspect__img"
                                src="https://img.freepik.com/premium-photo/headphones-isolated-white-background-top-view_93675-149184.jpg?size=626&ext=jpg&ga=GA1.1.1145246361.1703440060&semt=sph"
                                alt=""
                              /></a>
                           
                          </div>

                          <span class="product-o__category">

                            <a
                              href="/products"
                            >Electronics</a></span>

                          <span class="product-o__name">

                            <a href="/products">Black Wireless
                              Headphone</a></span>
                          <div class="product-o__rating gl-rating-style"><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star-half-alt"
                            ></i><i class="far fa-star"></i><i
                              class="far fa-star"
                            ></i>

                            <span class="product-o__review">(23)</span></div>

                          <span class="product-o__price">₹6000

                            <span
                              class="product-o__discount"
                            >₹8000</span></span>
                        </div>
                      </div>
                      <div
                        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item sportgadget"
                      >
                        <div
                          class="product-o product-o--hover-on product-o--radius"
                        >
                          <div class="product-o__wrap">

                            <a
                              class="aspect aspect--bg-grey aspect--square u-d-block"
                              href="/products"
                            >

                              <img
                                class="aspect__img"
                                src="https://img.freepik.com/premium-psd/bluetooth-earphones-mockup-top-view_1332-25646.jpg?size=626&ext=jpg&ga=GA1.1.1145246361.1703440060&semt=sph"
                                alt=""
                              /></a>
                            
                          </div>

                          <span class="product-o__category">

                            <a
                              href="/products"
                            >Electronics</a></span>

                          <span class="product-o__name">

                            <a href="/products">AirPodes</a></span>
                          <div class="product-o__rating gl-rating-style"><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star-half-alt"
                            ></i>

                            <span class="product-o__review">(23)</span></div>

                          <span class="product-o__price">₹30000

                            <span
                              class="product-o__discount"
                            >₹35000</span></span>
                        </div>
                      </div>
                      <div
                        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item sportgadget"
                      >
                        <div
                          class="product-o product-o--hover-on product-o--radius"
                        >
                          <div class="product-o__wrap">

                            <a
                              class="aspect aspect--bg-grey aspect--square u-d-block"
                              href="/products"
                            >

                              <img
                                class="aspect__img"
                                src="https://img.freepik.com/free-vector/headphones-wireless-realistic-composition-with-isolated-image-phones-with-power-bank-dock-station-with-reflections-vector-illustration_1284-73201.jpg?size=626&ext=jpg&ga=GA1.1.1145246361.1703440060&semt=sph"
                                alt=""
                              /></a>
                            
                          </div>

                          <span class="product-o__category">

                            <a
                              href="/products"
                            >Electronics</a></span>

                          <span class="product-o__name">

                            <a href="/products">Wireless Earphones</a></span>
                          <div class="product-o__rating gl-rating-style"><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star-half-alt"
                            ></i>

                            <span class="product-o__review">(23)</span></div>

                          <span class="product-o__price">₹20000

                            <span
                              class="product-o__discount"
                            >₹25000</span></span>
                        </div>
                      </div>
                      <div
                        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item dslr"
                      >
                        <div
                          class="product-o product-o--hover-on product-o--radius"
                        >
                          <div class="product-o__wrap">

                            <a
                              class="aspect aspect--bg-grey aspect--square u-d-block"
                              href="/products"
                            >

                              <img
                                class="aspect__img"
                                src="https://img.freepik.com/free-vector/camera-accessory_1284-13130.jpg?size=626&ext=jpg&ga=GA1.1.1145246361.1703440060&semt=sph"
                                alt=""
                              /></a>
                            
                          </div>

                          <span class="product-o__category">

                            <a
                              href="/products"
                            >Electronics</a></span>

                          <span class="product-o__name">

                            <a href="/products">Canon DSLR Camera 4k</a></span>
                          <div class="product-o__rating gl-rating-style"><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star-half-alt"
                            ></i>

                            <span class="product-o__review">(23)</span></div>

                          <span class="product-o__price">₹50000

                            <span
                              class="product-o__discount"
                            >₹80000</span></span>
                        </div>
                      </div>
                      <div
                        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item dslr"
                      >
                        <div
                          class="product-o product-o--hover-on product-o--radius"
                        >
                          <div class="product-o__wrap">

                            <a
                              class="aspect aspect--bg-grey aspect--square u-d-block"
                              href="#"
                            >

                              <img
                                class="aspect__img"
                                src="https://img.freepik.com/premium-photo/professional-camera-white-background_488220-1465.jpg?size=626&ext=jpg&ga=GA1.1.1145246361.1703440060&semt=sph"
                                alt=""
                              /></a>
                            
                          </div>

                          <span class="product-o__category">

                            <a
                              href="/products"
                            >Electronics</a></span>

                          <span class="product-o__name">

                            <a href="/products">Nikon DSLR Camera 4k</a></span>
                          <div class="product-o__rating gl-rating-style"><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star-half-alt"
                            ></i>

                            <span class="product-o__review">(23)</span></div>

                          <span class="product-o__price">₹12,500

                            <span
                              class="product-o__discount"
                            >₹16,000</span></span>
                        </div>
                      </div>
                      <div
                        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item smartphone"
                      >
                        <div
                          class="product-o product-o--hover-on product-o--radius"
                        >
                          <div class="product-o__wrap">

                            <a
                              class="aspect aspect--bg-grey aspect--square u-d-block"
                              href="/products"
                            >

                              <img
                                class="aspect__img"
                                src="https://img.freepik.com/premium-psd/realistic-iphone-14-pro-max-3d-smartphone-screen-mockup-template-with-editable-background-psd_349001-545.jpg?size=626&ext=jpg&ga=GA1.1.1145246361.1703440060&semt=sph"
                                alt=""
                              /></a>
                            
                          </div>

                          <span class="product-o__category">

                            <a
                              href="/products"
                            >Electronics</a></span>

                          <span class="product-o__name">

                            <a href="/products">Smartphone RAM 4GB New</a></span>
                          <div class="product-o__rating gl-rating-style"><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star-half-alt"
                            ></i>

                            <span class="product-o__review">(23)</span></div>

                          <span class="product-o__price">₹30000

                            <span
                              class="product-o__discount"
                            >₹40000</span></span>
                        </div>
                      </div>
                      <div
                        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item smartphone"
                      >
                        <div
                          class="product-o product-o--hover-on product-o--radius"
                        >
                          <div class="product-o__wrap">

                            <a
                              class="aspect aspect--bg-grey aspect--square u-d-block"
                              href="/products"
                            >

                              <img
                                class="aspect__img"
                                src="https://img.freepik.com/free-psd/black-screen-smartphone-mockup-design_53876-65977.jpg?size=626&ext=jpg&ga=GA1.1.1145246361.1703440060&semt=sph"
                                alt=""
                              /></a>
                            
                          </div>

                          <span class="product-o__category">

                            <a
                              href="/products"
                            >Electronics</a></span>

                          <span class="product-o__name">

                            <a href="/products">Smartphone RAM 8GB New</a></span>
                          <div class="product-o__rating gl-rating-style"><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star-half-alt"
                            ></i>

                            <span class="product-o__review">(23)</span></div>

                          <span class="product-o__price">₹45000

                            <span
                              class="product-o__discount"
                            >₹50000</span></span>
                        </div>
                      </div>
                      <div
                        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item smartphone"
                      >
                        <div
                          class="product-o product-o--hover-on product-o--radius"
                        >
                          <div class="product-o__wrap">

                            <a
                              class="aspect aspect--bg-grey aspect--square u-d-block"
                              href="/products"
                            >

                              <img
                                class="aspect__img"
                                src="https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/30bb18183286633.Y3JvcCwyMzQ2LDE4MzUsMTM2NSwxODA.jpg"
                                alt=""
                              /></a>
                            
                          </div>

                          <span class="product-o__category">

                            <a
                              href="/products"
                            >Electronics</a></span>

                          <span class="product-o__name">

                            <a href="/products">Smartphone RAM 16GB
                              New</a></span>
                          <div class="product-o__rating gl-rating-style"><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star-half-alt"
                            ></i>

                            <span class="product-o__review">(23)</span></div>

                          <span class="product-o__price">₹50000

                            <span
                              class="product-o__discount"
                            >₹60000</span></span>
                        </div>
                      </div> --}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="load-more">

                  <a href="/products">  <button class="btn btn-primary" type="button">Load More</button></a></div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->

        <!--====== Section 3 ======-->
        <div class="u-s-p-b-60">

          <!--====== Section Intro ======-->
          <div class="section__intro u-s-m-b-46">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section__text-wrap">
                    <h1 class="section__heading u-c-secondary u-s-m-b-12">DEAL
                      OF THE DAY</h1>

                    <span class="section__span u-c-silver">BUY DEAL OF THE DAY,
                      HURRY UP! THESE NEW PRODUCTS WILL EXPIRE SOON.</span>

                    <span class="section__span u-c-silver">ADD THESE ON YOUR
                      CART.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Intro ======-->

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-6 u-s-m-b-30">
                  <div
                    class="product-o product-o--radius product-o--hover-off u-h-100"
                  >
                    <div class="product-o__wrap">

                      <a
                        class="aspect aspect--bg-grey aspect--square u-d-block"
                        href="/products"
                      >

                        <img
                          class="aspect__img"
                          src="https://images.unsplash.com/photo-1640936343842-268f9d87e764?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHNtYXJ0cGhvbmVzfGVufDB8fDB8fHww"
                          alt=""
                        /></a>

                      
                    </div>

                    {{!-- <span class="product-o__category">

                      <a href="/products">Electronics</a></span>

                    <span class="product-o__name">

                      <a href="/products">DJI Phantom Drone 4k</a></span>
                    <div class="product-o__rating gl-rating-style"><i
                        class="fas fa-star"
                      ></i><i class="fas fa-star"></i><i
                        class="fas fa-star"
                      ></i><i class="fas fa-star"></i><i
                        class="fas fa-star"
                      ></i>

                      <span class="product-o__review">(2)</span></div>

                    <span class="product-o__price">$125.00

                      <span class="product-o__discount">$160.00</span></span> --}}
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 u-s-m-b-30">
                  <div
                    class="product-o product-o--radius product-o--hover-off u-h-100"
                  >
                    <div class="product-o__wrap">

                      <a
                        class="aspect aspect--bg-grey aspect--square u-d-block"
                        href="/products"
                      >

                        <img
                          class="aspect__img"
                          src="https://images.unsplash.com/photo-1610945265064-0e34e5519bbf?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt=""
                        /></a>

                      
                    </div>

                    {{!-- <span class="product-o__category">

                      <a href="/products">Electronics</a></span>

                    <span class="product-o__name">

                      <a href="/products">DJI Phantom Drone 2k</a></span>
                    <div class="product-o__rating gl-rating-style"><i
                        class="fas fa-star"
                      ></i><i class="fas fa-star"></i><i
                        class="fas fa-star"
                      ></i><i class="fas fa-star"></i><i
                        class="fas fa-star"
                      ></i>

                      <span class="product-o__review">(2)</span></div>

                    <span class="product-o__price">$125.00

                      <span class="product-o__discount">$160.00</span></span> --}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 3 ======-->

        <!--====== Section 4 ======-->
        {{!-- <div class="u-s-p-b-60">

          <!--====== Section Intro ======-->
          <div class="section__intro u-s-m-b-46">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section__text-wrap">
                    <h1 class="section__heading u-c-secondary u-s-m-b-12">NEW
                      ARRIVALS</h1>

                    <span class="section__span u-c-silver">GET UP FOR NEW
                      ARRIVALS</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Intro ======-->

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="slider-fouc">
                <div class="owl-carousel product-slider" data-item="4">
                  <div class="u-s-m-b-30">
                    <div class="product-o product-o--hover-on">
                      <div class="product-o__wrap">

                        <a
                          class="aspect aspect--bg-grey aspect--square u-d-block"
                          href="/products"
                        >

                          <img
                            class="aspect__img"
                            src="https://img.freepik.com/free-vector/camera-accessory_1284-13130.jpg?ga=GA1.1.314936302.1702661604&semt=sph"
                            alt=""
                          /></a>
                        
                      </div>

                      <span class="product-o__category">

                        <a
                          href="/products"
                        >Electronics</a></span>

                      <span class="product-o__name">

                        <a href="/products">Nikon DSLR 4K Camera</a></span>
                      <div class="product-o__rating gl-rating-style"><i
                          class="far fa-star"
                        ></i><i class="far fa-star"></i><i
                          class="far fa-star"
                        ></i><i class="far fa-star"></i><i
                          class="far fa-star"
                        ></i>

                        <span class="product-o__review">(0)</span></div>

                      <span class="product-o__price">$125.00

                        <span class="product-o__discount">$160.00</span></span>
                    </div>
                  </div>
                  <div class="u-s-m-b-30">
                    <div class="product-o product-o--hover-on">
                      <div class="product-o__wrap">

                        <a
                          class="aspect aspect--bg-grey aspect--square u-d-block"
                          href="/products"
                        >

                          <img
                            class="aspect__img"
                            src="https://images.unsplash.com/photo-1495707902641-75cac588d2e9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8ZHNscnxlbnwwfHwwfHx8MA%3D%3D"
                            alt=""
                          /></a>
                        
                      </div>

                      <span class="product-o__category">

                        <a
                          href="/products"
                        >Electronics</a></span>

                      <span class="product-o__name">

                        <a href="/products">Nikon DSLR 2K Camera</a></span>
                      <div class="product-o__rating gl-rating-style"><i
                          class="far fa-star"
                        ></i><i class="far fa-star"></i><i
                          class="far fa-star"
                        ></i><i class="far fa-star"></i><i
                          class="far fa-star"
                        ></i>

                        <span class="product-o__review">(0)</span></div>

                      <span class="product-o__price">$125.00

                        <span class="product-o__discount">$160.00</span></span>
                    </div>
                  </div>
                  <div class="u-s-m-b-30">
                    <div class="product-o product-o--hover-on">
                      <div class="product-o__wrap">

                        <a
                          class="aspect aspect--bg-grey aspect--square u-d-block"
                          href="/products"
                        >

                          <img
                            class="aspect__img"
                            src="https://images.unsplash.com/photo-1625545013865-80da35181abf?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8ZHNscnxlbnwwfHwwfHx8MA%3D%3D"
                            alt=""
                          /></a>
                        
                      </div>

                      <span class="product-o__category">

                        <a
                          href="/products"
                        >Electronics</a></span>

                      <span class="product-o__name">

                        <a href="/products">Sony DSLR 4K Camera</a></span>
                      <div class="product-o__rating gl-rating-style"><i
                          class="far fa-star"
                        ></i><i class="far fa-star"></i><i
                          class="far fa-star"
                        ></i><i class="far fa-star"></i><i
                          class="far fa-star"
                        ></i>

                        <span class="product-o__review">(0)</span></div>

                      <span class="product-o__price">$125.00

                        <span class="product-o__discount">$160.00</span></span>
                    </div>
                  </div>
                  <div class="u-s-m-b-30">
                    <div class="product-o product-o--hover-on">
                      <div class="product-o__wrap">

                        <a
                          class="aspect aspect--bg-grey aspect--square u-d-block"
                          href="/products"
                        >

                          <img
                            class="aspect__img"
                            src="https://images.unsplash.com/photo-1591533385361-f327d396db9d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzF8fGRzbHJ8ZW58MHx8MHx8fDA%3D"
                            alt=""
                          /></a>
                        
                      </div>

                      <span class="product-o__category">

                        <a
                          href="/products"
                        >Electronics</a></span>

                      <span class="product-o__name">

                        <a href="/products">Sony DSLR 2K Camera</a></span>
                      <div class="product-o__rating gl-rating-style"><i
                          class="far fa-star"
                        ></i><i class="far fa-star"></i><i
                          class="far fa-star"
                        ></i><i class="far fa-star"></i><i
                          class="far fa-star"
                        ></i>

                        <span class="product-o__review">(0)</span></div>

                      <span class="product-o__price">$125.00

                        <span class="product-o__discount">$160.00</span></span>
                    </div>
                  </div>
                  <div class="u-s-m-b-30">
                    <div class="product-o product-o--hover-on">
                      <div class="product-o__wrap">

                        <a
                          class="aspect aspect--bg-grey aspect--square u-d-block"
                          href="/products"
                        >

                          <img
                            class="aspect__img"
                            src="https://media.istockphoto.com/id/1029485418/photo/apple-ipad-gold-with-iphone-8-plus-and-macbook-pro.jpg?s=612x612&w=0&k=20&c=OxMan9vbiUkAY_osQkOJeooQsqNSFK0BnA-hqAmp1Ls="
                            alt=""
                          /></a>
                       
                      </div>

                      <span class="product-o__category">

                        <a
                          href="/products"
                        >Electronics</a></span>

                      <span class="product-o__name">

                        <a href="/products">Canon DSLR 4K Camera</a></span>
                      <div class="product-o__rating gl-rating-style"><i
                          class="far fa-star"
                        ></i><i class="far fa-star"></i><i
                          class="far fa-star"
                        ></i><i class="far fa-star"></i><i
                          class="far fa-star"
                        ></i>

                        <span class="product-o__review">(0)</span></div>

                      <span class="product-o__price">$125.00

                        <span class="product-o__discount">$160.00</span></span>
                    </div>
                  </div>
                  <div class="u-s-m-b-30">
                    <div class="product-o product-o--hover-on">
                      <div class="product-o__wrap">

                        <a
                          class="aspect aspect--bg-grey aspect--square u-d-block"
                          href="/products"
                        >

                          <img
                            class="aspect__img"
                            src="images/product/electronic/product18.jpg"
                            alt=""
                          /></a>
                        
                      </div>

                      <span class="product-o__category">

                        <a
                          href="/products"
                        >Electronics</a></span>

                      <span class="product-o__name">

                        <a href="/products">Canon DSLR 2K Camera</a></span>
                      <div class="product-o__rating gl-rating-style"><i
                          class="far fa-star"
                        ></i><i class="far fa-star"></i><i
                          class="far fa-star"
                        ></i><i class="far fa-star"></i><i
                          class="far fa-star"
                        ></i>

                        <span class="product-o__review">(0)</span></div>

                      <span class="product-o__price">$125.00

                        <span class="product-o__discount">$160.00</span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Content ======-->
        </div> --}}
        <!--====== End - Section 4 ======-->

        <!--====== Section 5 ======-->
        <div class="banner-bg">

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">

                  <div class="banner-bg__wrap">
                    <div class="banner-bg__text-1">

                      <span class="u-c-white">Global</span>

                      <span class="u-c-secondary">Offers</span></div>
                    <div class="banner-bg__text-2">

                      <span class="u-c-secondary">Official Launch</span>

                      <span class="u-c-white">Don't Miss!</span></div>

                    <span
                      class="banner-bg__text-block banner-bg__text-3 u-c-secondary"
                    >Enjoy Free Shipping when you buy 2 items and above!</span>

                    <a
                      class="banner-bg__shop-now btn--e-secondary"
                      href="/products"
                    >Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 5 ======-->

        <!--====== Section 6 ======-->
        {{!-- <div class="u-s-p-y-60">

          <!--====== Section Intro ======-->
          <div class="section__intro u-s-m-b-46">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section__text-wrap">
                    <h1
                      class="section__heading u-c-secondary u-s-m-b-12"
                    >FEATURED PRODUCTS</h1>

                    <span class="section__span u-c-silver">FIND NEW FEATURED
                      PRODUCTS</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Intro ======-->

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                  <div class="product-o product-o--hover-on u-h-100">
                    <div class="product-o__wrap">

                      <a
                        class="aspect aspect--bg-grey aspect--square u-d-block"
                        href="/products"
                      >

                        <img
                          class="aspect__img"
                          src="https://thumbs.dreamstime.com/b/ipad-mini-galati-romania-january-powered-new-chip-bit-architecture-delivers-killer-performance-%C3%A2%E2%82%AC-up-to-four-39440725.jpg"
                          alt=""
                        /></a>
                      
                    </div>

                    <span class="product-o__category">

                      <a href="/products">Electronics</a></span>

                    <span class="product-o__name">

                      <a href="/products">Tablet 14inch Screen</a></span>
                    <div class="product-o__rating gl-rating-style"><i
                        class="fas fa-star"
                      ></i><i class="fas fa-star"></i><i
                        class="fas fa-star"
                      ></i><i class="fas fa-star"></i><i
                        class="fas fa-star-half-alt"
                      ></i>

                      <span class="product-o__review">(23)</span></div>

                    <span class="product-o__price">$125.00

                      <span class="product-o__discount">$160.00</span></span>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                  <div class="product-o product-o--hover-on u-h-100">
                    <div class="product-o__wrap">

                      <a
                        class="aspect aspect--bg-grey aspect--square u-d-block"
                        href="/products"
                      >

                        <img
                          class="aspect__img"
                          src="https://media.gettyimages.com/id/1238901533/photo/the-samsung-galaxy-tab-s8-5g-the-latest-tablet-presented-by-the-south-korean-multinational.jpg?s=612x612&w=0&k=20&c=gHU9syFlF2wt3zXbAlR7ieVspEAOD6iGkyaxv1ta4wE="
                          alt=""
                        /></a>
                      
                    </div>

                    <span class="product-o__category">

                      <a href="/products">Electronics</a></span>

                    <span class="product-o__name">

                      <a href="/products">Tablet 18inch Screen</a></span>
                    <div class="product-o__rating gl-rating-style"><i
                        class="fas fa-star"
                      ></i><i class="fas fa-star"></i><i
                        class="fas fa-star"
                      ></i><i class="fas fa-star"></i><i
                        class="fas fa-star-half-alt"
                      ></i>

                      <span class="product-o__review">(23)</span></div>

                    <span class="product-o__price">$125.00

                      <span class="product-o__discount">$160.00</span></span>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                  <div class="product-o product-o--hover-on u-h-100">
                    <div class="product-o__wrap">

                      <a
                        class="aspect aspect--bg-grey aspect--square u-d-block"
                        href="/products"
                      >

                        <img
                          class="aspect__img"
                          src="https://media.gettyimages.com/id/1238816121/photo/a-samsung-galaxy-tab-s8-tablet-with-s-pen-during-the-samsung-galaxy-mobile-world-congress.jpg?s=612x612&w=0&k=20&c=1c3HsPyoxrippTRu-Ryb6XD8cMh8b4jyxufEjNAAGQU="
                          alt=""
                        /></a>
                      
                    </div>

                    <span class="product-o__category">

                      <a href="/products">Electronics</a></span>

                    <span class="product-o__name">

                      <a href="/products">Tablet 13inch Screen Ram
                        16GB</a></span>
                    <div class="product-o__rating gl-rating-style"><i
                        class="fas fa-star"
                      ></i><i class="fas fa-star"></i><i
                        class="fas fa-star"
                      ></i><i class="fas fa-star"></i><i
                        class="fas fa-star-half-alt"
                      ></i>

                      <span class="product-o__review">(23)</span></div>

                    <span class="product-o__price">$125.00

                      <span class="product-o__discount">$160.00</span></span>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30">
                  <div class="product-o product-o--hover-on u-h-100">
                    <div class="product-o__wrap">

                      <a
                        class="aspect aspect--bg-grey aspect--square u-d-block"
                        href="/products"
                      >

                        <img
                          class="aspect__img"
                          src="https://media.istockphoto.com/id/532305153/photo/apple-ipad-air-2-space-gray-black-with-clipping-paths.jpg?s=612x612&w=0&k=20&c=3N6eTvfgAghwlSTAjF6QrvdNzYh4xan1dAgU4lufmD8="
                          alt=""
                        /></a>
                      
                    </div>

                    <span class="product-o__category">

                      <a href="/products">Electronics</a></span>

                    <span class="product-o__name">

                      <a href="/products">Tablet 12inch Screen Ram
                        16GB</a></span>
                    <div class="product-o__rating gl-rating-style"><i
                        class="fas fa-star"
                      ></i><i class="fas fa-star"></i><i
                        class="fas fa-star"
                      ></i><i class="fas fa-star"></i><i
                        class="fas fa-star-half-alt"
                      ></i>

                      <span class="product-o__review">(23)</span></div>

                    <span class="product-o__price">$125.00

                      <span class="product-o__discount">$160.00</span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Content ======-->
        </div> --}}
        <!--====== End - Section 6 ======-->

        <!--====== Section 7 ======-->
        
        <!--====== End - Section 7 ======-->

        <!--====== Section 8 ======-->
        
        <!--====== End - Section 8 ======-->

        <!--====== Section 9 ======-->
        <div class="u-s-p-b-60 mt-5">

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 u-s-m-b-30">
                  <div class="service u-h-100">
                    <div class="service__icon"><i
                        class="fas fa-truck"
                      ></i></div>
                    <div class="service__info-wrap">

                      <span class="service__info-text-1">Free Shipping</span>

                      <span class="service__info-text-2">Free shipping on all US
                        order or order above $200</span></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 u-s-m-b-30">
                  <div class="service u-h-100">
                    <div class="service__icon"><i class="fas fa-redo"></i></div>
                    <div class="service__info-wrap">

                      <span class="service__info-text-1">Shop with Confidence</span>

                      <span class="service__info-text-2">Our Protection covers
                        your purchase from click to delivery</span></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 u-s-m-b-30">
                  <div class="service u-h-100">
                    <div class="service__icon"><i
                        class="fas fa-headphones-alt"
                      ></i></div>
                    <div class="service__info-wrap">

                      <span class="service__info-text-1">24/7 Help Center</span>

                      <span class="service__info-text-2">Round-the-clock
                        assistance for a smooth shopping experience</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 9 ======-->

        <!--====== Section 10 ======-->

        <!--====== End - Section 10 ======-->

        <!--====== Section 11 ======-->

        <!--====== End - Section 12 ======-->
      </div>

{{> footer}}
