{{> header}}

<div class="app-content">

        <!--====== Primary Slider ======-->

        <!--====== End - Primary Slider ======-->

        <!--====== Section 1 ======-->
        <div class="u-s-p-y-10">

          <!--====== Section Intro ======-->
          <div class="section__intro u-s-m-b-46">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section__text-wrap">
                    <h1 class="section__heading u-c-secondary u-s-m-b-12">SHOP
                      BY DEALS</h1>

                    <span class="section__span u-c-silver">BROWSE FAVOURITE
                      DEALS</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Intro ======-->

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="row">
                <div class="col-lg-5 col-md-5 u-s-m-b-30">

                  <a class="collection" href="/products">
                    <div class="aspect aspect--bg-grey aspect--square">

                      <img
                        class="aspect__img collection__img"
                        src="https://img.freepik.com/free-photo/sports-shoe-pair-design-illustration-generated-by-ai_188544-19642.jpg?w=826&t=st=1702661659~exp=1702662259~hmac=f784e3266bd570c6695a6863a7200b5b977107559ebb0255d50042d1aff8b2c5"
                        alt=""
                      /></div>
                  </a></div>
                <div class="col-lg-7 col-md-7 u-s-m-b-30">

                  <a class="collection" href="/products">
                    <div class="aspect aspect--bg-grey aspect--1286-890">

                      <img
                        class="aspect__img collection__img"
                        src="https://img.freepik.com/free-photo/portrait-stylish-attractive-young-bearded-man-listening-music-wireless-headphones-modern-style-confident-mood_285396-9537.jpg?w=740&t=st=1702663549~exp=1702664149~hmac=c7974f537703595f661595ab8135e996de9b3d6cd796b77fcf93ffd8122cfbe3"
                        alt=""
                      /></div>
                  </a></div>
                <div class="col-lg-7 col-md-7 u-s-m-b-30">

                  <a class="collection" href="/products">
                    <div class="aspect aspect--bg-grey aspect--1286-890">

                      <img
                        class="aspect__img collection__img"
                        src="https://img.freepik.com/free-photo/young-adult-wearing-futuristic-smart-glasses-indoors-generated-by-ai_188544-32756.jpg?t=st=1702703671~exp=1702707271~hmac=3e9515c556f5dea89c27cfc68f632a9dda02651de36d1f5c965a1d4281b67b05&w=826"
                        alt=""
                      /></div>
                  </a></div>
                <div class="col-lg-5 col-md-5 u-s-m-b-30">

                  <a class="collection" href="/products">
                    <div class="aspect aspect--bg-grey aspect--square">

                      <img
                        class="aspect__img collection__img"
                        src="https://img.freepik.com/free-photo/black-wireless-earbud-with-charging-case_1268-14371.jpg?t=st=1702703664~exp=1702704264~hmac=c60c1c86753e9b0e5d823459ed77e64abd35ad38e5d038841c70b8f8f6349670"
                        alt=""
                      /></div>
                  </a></div>
              </div>
            </div>
          </div>

          <!--====== Section Content ======-->
        </div>
        <!--====== End - Section 1 ======-->

        <!--====== Section 2 ======-->
        <div class="u-s-p-b-60">

          <!--====== Section Intro ======-->
          <div class="section__intro u-s-m-b-16">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section__text-wrap">
                    <h1 class="section__heading u-c-secondary u-s-m-b-12">TOP
                      TRENDING</h1>

                    {{!-- <span class="section__span u-c-silver">CHOOSE CATEGORY</span> --}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Intro ======-->

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="filter-category-container">
                    <div class="filter__category-wrapper">

                      <button
                        class="btn filter__btn filter__btn--style-1 js-checked"
                        type="button"
                        data-filter="*"
                      ></button></div>
                  </div>
                  <div class="filter__grid-wrapper u-s-m-t-30">
                    <div class="row">
                      {{#each products}}
                      <div
                        class="col-xl-3 col-lg-4 col-md-6 col-sm-6 u-s-m-b-30 filter__item headphone"
                      >
                        <div
                          class="product-o product-o--hover-on product-o--radius"
                        >
                          <div class="product-o__wrap">

                            <a
                              href="/product/{{this._id}}"
                              class="aspect aspect--bg-grey aspect--square u-d-block"
                            >

                              <img
                                class="aspect__img"
                                src="{{this.image}}"
                                alt=""
                              /></a>
                            
                          </div>

                          <span class="product-o__category">

                            <a
                              href="/products"
                            >{{this.category}}</a></span>

                          <span class="product-o__name">

                            <a href="/product/{{this._id}}">{{this.name}}</a></span>
                          <div class="product-o__rating gl-rating-style"><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star"
                            ></i><i class="fas fa-star"></i><i
                              class="fas fa-star-half-alt"
                            ></i>

                            <span class="product-o__review">(23)</span></div>

                          <span class="product-o__price">₹{{this.price}}

                            <span
                              class="product-o__discount"
                            ></span></span>
                        </div>
                      </div>
                      {{/each}}
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="load-more">

                  <a href="/products">  <button class="btn btn-primary" type="button">Load More</button></a></div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 2 ======-->

        <!--====== Section 3 ======-->
        <div class="u-s-p-b-60">

          <!--====== Section Intro ======-->
          <div class="section__intro u-s-m-b-46">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="section__text-wrap">
                    <h1 class="section__heading u-c-secondary u-s-m-b-12">DEAL
                      OF THE DAY</h1>

                    <span class="section__span u-c-silver">BUY DEAL OF THE DAY,
                      HURRY UP! THESE NEW PRODUCTS WILL EXPIRE SOON.</span>

                    <span class="section__span u-c-silver">ADD THESE ON YOUR
                      CART.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Intro ======-->

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-6 u-s-m-b-30">
                  <div
                    class="product-o product-o--radius product-o--hover-off u-h-100"
                  >
                    <div class="product-o__wrap">

                      <a
                        class="aspect aspect--bg-grey aspect--square u-d-block"
                        href="/products"
                      >

                        <img
                          class="aspect__img"
                          src="https://images.unsplash.com/photo-1640936343842-268f9d87e764?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHNtYXJ0cGhvbmVzfGVufDB8fDB8fHww"
                          alt=""
                        /></a>

                      
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 u-s-m-b-30">
                  <div
                    class="product-o product-o--radius product-o--hover-off u-h-100"
                  >
                    <div class="product-o__wrap">

                      <a
                        class="aspect aspect--bg-grey aspect--square u-d-block"
                        href="/products"
                      >

                        <img
                          class="aspect__img"
                          src="https://images.unsplash.com/photo-1610945265064-0e34e5519bbf?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                          alt=""
                        /></a>

                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 3 ======-->

        <!--====== Section 5 ======-->
        <div class="banner-bg">

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">

                  <div class="banner-bg__wrap">
                    <div class="banner-bg__text-1">

                      <span class="u-c-white">Global</span>

                      <span class="u-c-secondary">Offers</span></div>
                    <div class="banner-bg__text-2">

                      <span class="u-c-secondary">Official Launch</span>

                      <span class="u-c-white">Don't Miss!</span></div>

                    <span
                      class="banner-bg__text-block banner-bg__text-3 u-c-secondary"
                    >Enjoy Free Shipping when you buy 2 items and above!</span>

                    <a
                      class="banner-bg__shop-now btn--e-secondary"
                      href="/products"
                    >Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 5 ======-->
        <!--====== Section 9 ======-->
        <div class="u-s-p-b-60 mt-5">

          <!--====== Section Content ======-->
          <div class="section__content">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 u-s-m-b-30">
                  <div class="service u-h-100">
                    <div class="service__icon"><i
                        class="fas fa-truck"
                      ></i></div>
                    <div class="service__info-wrap">

                      <span class="service__info-text-1">Free Shipping</span>

                      <span class="service__info-text-2">Free shipping on all US
                        order or order above $200</span></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 u-s-m-b-30">
                  <div class="service u-h-100">
                    <div class="service__icon"><i class="fas fa-redo"></i></div>
                    <div class="service__info-wrap">

                      <span class="service__info-text-1">Shop with Confidence</span>

                      <span class="service__info-text-2">Our Protection covers
                        your purchase from click to delivery</span></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 u-s-m-b-30">
                  <div class="service u-h-100">
                    <div class="service__icon"><i
                        class="fas fa-headphones-alt"
                      ></i></div>
                    <div class="service__info-wrap">

                      <span class="service__info-text-1">24/7 Help Center</span>

                      <span class="service__info-text-2">Round-the-clock
                        assistance for a smooth shopping experience</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Section Content ======-->
        </div>
        <!--====== End - Section 9 ======-->
      </div>

{{> footer}}
