{{> header}}

<div class="app-content">

  <!--====== Section 1 ======-->
  <div class="u-s-p-t-10">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">

          <!--====== Product Breadcrumb ======-->
          <div class="pd-breadcrumb u-s-m-b-30">
            <ul class="pd-breadcrumb__list">
              <li class="has-separator">

                <a href="/">Home</a></li>
              <li class="is-marked">

                <a href="">{{product.name}}</a></li>
            </ul>
          </div>
          <!--====== End - Product Breadcrumb ======-->

          <!--====== Product Detail Zoom ======-->
          <div class="pd u-s-m-b-30">
            <div class="slider-fouc pd-wrap">
              <div id="pd-o-initiate">
                <div
                  class="pd-o-img-wrap"
                  data-src="{{product.image}}"
                >

                  <img
                    class="u-img-fluid"
                    src="{{product.image}}"
                    data-zoom-image="{{product.image}}"
                    alt=""
                  /></div>
                  <div class="pd-o-img-wrap" data-src="{{product.image}}">
                      <img class="u-img-fluid" src="{{product.image}}" data-zoom-image="{{product.image}} " alt=""></div>
                    <div class="pd-o-img-wrap" data-src="{{product.image}}">

                      <img class="u-img-fluid" src="{{product.image}}" data-zoom-image="{{product.image}}" alt=""></div>
                    <div class="pd-o-img-wrap" data-src="{{product.image}}">

                      <img class="u-img-fluid" src="{{product.image}}" data-zoom-image="{{product.image}}" alt=""></div>
                    <div class="pd-o-img-wrap" data-src="{{product.image}}">

                      <img class="u-img-fluid" src="{{product.image}}" data-zoom-image="{{product.image}}" alt=""></div>
              </div>

              <span class="pd-text">Click for larger zoom</span>
            </div>
            <div class="u-s-m-t-15">
              <div class="slider-fouc">
                <div id="pd-o-thumbnail">
                   <div>

                                                <img class="u-img-fluid" src="{{product.image}}" alt=""></div>
                                            <div>

                                                <img class="u-img-fluid" src="{{product.image}}" alt=""></div>
                                            <div>

                                                <img class="u-img-fluid" src="{{product.image}}" alt=""></div>
                                            <div>

                                                <img class="u-img-fluid" src="{{product.image}}" alt=""></div>
                                            <div>

                                                <img class="u-img-fluid" src="{{product.image}}" alt=""></div>
                </div>
              </div>
            </div>
          </div>
          <!--====== End - Product Detail Zoom ======-->
        </div>
        <div class="col-lg-7">

          <!--====== Product Right Side Details ======-->
          <div class="pd-detail">
            <div>

              <span class="pd-detail__name">{{product.name}}</span></div>
            <div>
              <div class="pd-detail__inline">

                <span class="pd-detail__price">₹{{product.price}}</span>

                <span class="pd-detail__discount">(76% OFF)</span><del
                  class="pd-detail__del"
                >$28.97</del></div>
            </div>
            <div class="u-s-m-b-15">
              <div class="pd-detail__rating gl-rating-style"><i
                  class="fas fa-star"
                ></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                  class="fas fa-star"
                ></i><i class="fas fa-star-half-alt"></i>

                <span class="pd-detail__review u-s-m-l-4">

                  <a data-click-scroll="#view-review">23 Reviews</a></span></div>
            </div>
            <div class="u-s-m-b-15">
              <div class="pd-detail__inline">

                <span class="pd-detail__stock">{{product.countInStock}} left</span>
            </div>
            <div class="u-s-m-b-15">

              <span class="pd-detail__preview-desc">{{product.description }}</span></div>
            <div class="u-s-m-b-15">

            </div>
            <div class="u-s-m-b-15">
              <div class="pd-detail__inline">
            
                <span class="pd-detail__preview-desc"><i class="far fa-heart u-s-m-r-6"></i>
            
                  <a class="addToWishlistButton" href="/user/addWishlist/{{product._id}}">Add to Wishlist</a>
            
                  </span></span>
              </div>
            </div>
            <div class="u-s-m-b-5">
              
                <div class="pd-detail-inline-2">
                  <div class="u-s-m-b-15">

                <a href="/addProductToCart/{{product._id}}"> <button class="btn btn--e-brand-b-2 custom-hover" style="color: white;" type="submit">Add to
                      Cart</button></a></div>
                </div>
              {{!-- </form> --}}
            </div>
            <div class="u-s-m-b-15">

              <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
              <ul class="pd-detail__policy-list">
                <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                  <span>Buyer Protection.</span></li>
                <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                  <span>Full Refund if you don't receive your order.</span></li>
                <li><i class="fas fa-check-circle u-s-m-r-8"></i>

                  <span>Returns accepted if product not as described.</span></li>
              </ul>
            </div>
          </div>
          <!--====== End - Product Right Side Details ======-->
        </div>
      </div>
    </div>
  </div>

  <!--====== End - Section 1 ======-->
</div>

{{> footer}}

<script>
  $(document).ready(function(){
  const addWishListButton = document.querySelectorAll('.addToWishlistButton');
  addWishListButton.forEach(function(button){
    button.addEventListener('click', function(event){
      event.preventDefault();
      const addToWishlistUrl = this.getAttribute('href');
      $.ajax({
        type: 'GET',
        url: addToWishlistUrl,
        success: function(response){
          console.log(response)
          Swal.fire({
            position: "top-middle",
            icon: "success",
            title: "Item added to Wishlist",
            showConfirmButton: false,
            timer: 1500
          });
        }
      })
    })
  })
})
</script>