{{> header}}

<div class="app-content">

            <!--====== Section 1 ======-->
            {{!-- <div class="u-s-p-y-6">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="/">Home</a></li>
                                    <li class="is-marked">

                                        <a href="#">My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__pad-1">

                                            <h4 >Hello, {{user.name}}</h4>
                                            <ul class="dash__f-list">
                                                {{!-- <li>

                                                    <a href="dashboard.html">Manage My Account</a></li> --}}
                                                {{!-- <li>

                                                    <a class="dash-active" href="#">Hello {{user.name}}</a></li> --}}
                                               
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <h1 class="dash__h1 u-s-m-b-14 font-weight-bold">My Profile</h1>

                                            <span class="dash__text u-s-m-b-30">Look all your info, you could customize your profile.</span>
                                            <div class="row">
                                                <div class="col-lg-4 u-s-m-b-30">
                                                    <h1 class="dash__h2 u-s-m-b-8 font-weight-bold">Full Name :</h1>

                                                    <h5 class="">{{user.name}}</h5>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                     <h1 class="dash__h2 u-s-m-b-8 font-weight-bold">Email :</h1>

                                                    <h5 class="">{{user.email}}</h5>
                                                    <div class="dash__link dash__link--secondary">

                                                        <a href="/user/edit_profile" class=" font-weight-bold">Change</a></div>
                                                </div>
                                                <div class="col-lg-4 u-s-m-b-30">
                                                     <h1 class="dash__h2 u-s-m-b-8 font-weight-bold">Phone :</h1>

                                                    <h5 class="">{{user.phone}}</h5>
                                                    <div class="dash__link dash__link--secondary">

                                                        <a href="/user/edit_profile" class=" font-weight-bold">Change</a></div>
                                                </div>
                                                {{!-- <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8 font-weight-bold">Address :</h2>
                                                    
                                                    <div class="dash__link dash__link--secondary">

                                                        <a href="/user/edit_profile" class=" font-weight-bold">Add</a></div>
                                                </div> --}}
                                                

                                                {{!-- <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">Birthday</h2>

                                                    <span class="dash__text">1991-02-02</span>
                                                </div> --}}
                                                {{!-- <div class="col-lg-4 u-s-m-b-30">
                                                    <h2 class="dash__h2 u-s-m-b-8">Gender</h2>

                                                    <span class="dash__text">Male</span>
                                                </div> --}}
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12"> 

                                                    <div class="u-s-m-b-16">

                                                        <a class="dash__custom-link btn--e-transparent-brand-b-2" href="/user/edit_profile">Edit Profile</a></div>
                                                    <div>

                                                        {{!-- <a class="dash__custom-link btn--e-brand-b-2" href="#">Change Password</a></div> --}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>

{{> footer}}